p {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    padding: 10px;
    padding-top: 25px;
  
    
  }
  .chicken {
    letter-spacing: 1.5px;
    border: 2px solid black;
    position: absolute;
    top: -19px;
    right: 0px;
    text-align: center;
    background-color: rgb(189, 76, 129);
    width: 25%;
    height: 30px;
    color: white;
    font-family: Lucida Sans
  }
  .beef {
    letter-spacing: 1.5px;
    border: 2px solid black;
    position: absolute;
    top: -19px;
    right: 0px;
    text-align: center;
    background-color: rgb(199, 88, 88);
    width: 25%;
    height: 30px;
    color: white;
    font-family: Lucida Sans;
  }
  .sushi {
    border: 2px solid black;
    position: absolute;
    top:-19px;
    right: 0px;
    text-align: center;
    background-color: rgb(230, 235, 159);
    width: 25%;
    height: 30px;
    font-family: Lucida Sans;
  }
  .ert{
    width: auto;
  }
  .sec1 {
    background-color: grey;
    border: 1px solid black;
    position: relative;
    margin: 1%;
    right: 1%;
    
  }
  .sec2 {
    background-color: grey;
    border: 1px solid black;
    position: relative;
    margin: 1%;
    right: 1%;
  }
  .sec3 {
    background-color: grey;
    border: 1px solid black;
    position: relative;
    margin: 1%;
    right: 1%;
  }
    
    /********** Desktop view only **********/
    @media (min-width: 992px) {
    .sec1, .sec2, .sec3 {
      float: left;
    }
    .sec1 {
      width: 31%;
    }
    .sec2 {
      width: 31%;
    }
    .sec3 {
      width: 31%;
    }
  }
  
  /********** Tablet view only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .sec1, .sec2, .sec3 {
      float: left;
    }
   .sec1 {
    width: 48%;
    }
    .sec2 {
    width: 47.5%;
    }
    .sec3 {
    width: 98%;
    }
  }

  /********** Mobile view only **********/
  @media (max-width: 767px) {
    .sec1, .sec2, .sec3 {
      float: left;
    }
    .sec1 {
      width: 100%;
    }
    .sec2 {
      width: 100%;
    }
    .sec3 {
      width: 100%;
    }
  }